@font-face {
	font-family: "ubuntu";
	src: url(ubuntu.ttf);
}

@font-face {
	font-family: "got";
	src: url(got.ttf);
}

.got{ font-family: "got"; }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    background-image: url("../img/got-logo.png");
    background-size: 190px;
    background-repeat: no-repeat;
}

section {
    margin-top: 4%;
}

.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: sticky;
    background-color: silver;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.navegacion{
    top: 5px;
    border: 1px solid red;
}

.portada{
    width: 100%;
    opacity: 70%;
    margin-top: 0%;
}

.banner{
    width: 100%;
}

.logo {
    width: 150px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background-image: url("../img/bg.jpg");
    color: white;
}

#validacion {
    padding-top: 1%;
    font-family: Arial;
}

#boton-api {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #161b22;
    color: #c9d1d9;
}

#boton-api:hover {
    cursor: pointer;
}

#contenido-api ol {
    list-style-type: arabic-indic;
}

#section-api, #section-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#section-iframe { height: 550px; }
