* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: sticky;
}

.navegacion {
    position: fixed;
    top: 110px;
    right: 0;

}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#validacion {
    padding-top: 1%;
}